<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="丁丁哈哈的小站，自己瞎写。">
    <meta name="keywords" content="设计模式,mysql,python,java,女流">
    <!--<link rel="shortcut icon" href="/static/cactus/images/favicon.ico">-->
    <!--<link rel="icon" type="image/png" href="/static/cactus/images/favicon-192x192.png" sizes="192x192">-->
    <!--<link rel="apple-touch-icon" sizes="180x180" href="/static/cactus/images/apple-touch-icon.png">-->

    <title></title>
    <link rel="stylesheet" href="/static/css/md_github.css">


</head>

<body>

<article class="markdown-body entry-content" itemprop="text">
    <header>
        <div >
            <a href="/">主页</a> |
            <a href="/show/?class=blog">博客</a> |
            <a href="/show/?class=note">笔记</a> |
            <a href="/show/?class=about">关于</a> |
            <a href="/show/?class=link">LINK</a> |
            <a href="/rss">RSS</a>
        </div>
        <hr/>
    </header>
    {% block content %}
    {% endblock %}

</html>