{% extends "base.html" %}
{% block content %}

<title>{{ article.title }} | 068089DY</title>
<h2>{{ article.title }}</h2>
    <p>{{ article.date }} |
    <font>阅读:{{ article.volume }}</font> |
    <font>标签:</font>
        {% for tag in article.tags.all %}
    <a href="/tag/?tag={{ tag.name }}&page_num=1"> #{{ tag.name }}</a>,
        {% endfor %}


    </p>
{{ article.html_content }}

<h2>评论 (墙内用户需要科学上网访问)</h2>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '068089blog'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock %}
